.gallery {
  grid-column: 1/-1;
}
.gallery-section {
  display: grid;
  grid-template-rows: repeat(3, 280px);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "gallery_1 gallery_1 gallery_2" "gallery_3 gallery_4 gallery_2" "gallery_3 gallery_5 gallery_5";
  padding: 20px 50px;
  grid-gap: 1rem;
}
.gallery-items {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}
.gallery1 {
  background-image: url("../pic/gallery1.jpg");
  grid-area: gallery_1;
}
.gallery2 {
  background-image: url("../pic/gallery2.jpg");
  grid-area: gallery_2;
}
.gallery3 {
  background-image: url("../pic/gallery3.jpg");
  grid-area: gallery_3;
}
.gallery4 {
  background-image: url("../pic/gallery4.jpg");
  grid-area: gallery_4;
}
.gallery5 {
  background-image: url("../pic/gallery5.jpg");
  grid-area: gallery_5;
}

@media screen and (max-width: 1000px) {
  .gallery-section {
    grid-template-areas: "gallery_1 gallery_1 gallery_2" "gallery_3 gallery_4 gallery_4" "gallery_5 gallery_5 gallery_5";
  }
}

@media screen and (max-width: 600px) {
  .gallery-section {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 280px);
    grid-template-areas: "gallery_1 gallery_1" "gallery_3 gallery_2" "gallery_4 gallery_4" "gallery_5 gallery_5";
  }
}
